services:
  #################################
  #  Backend Service
  #################################
  Backend:
    build:
      context: .
      dockerfile: Dockerfile
    image: backend:1.4
    restart: always
    ports: ["5001:5001"]
    env_file: ".env"
