
body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: calc(1rem + 2vmin); /* Adjusted for better responsiveness */
  color: white;
}


/* Sidebar styles */
.sidebar {
  border-radius: 5px; 
  position: fixed;  
  top: 0;          
  left: 0;         
  height: 100vh;
  background: linear-gradient(to right, #1b80a7, #245a75);
  overflow-y: auto; 
  color: white;    
  padding: 10px;  /* Reduced padding for better responsiveness */
  width: 15vw;  /* Adjusted width for responsive layout */
  max-width: 500px; /* Max width for larger screens */
  transition: width 0.3s ease, opacity 0.3s ease;
  flex-direction: column;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar.collapsed .sidebar-content {
  display: none;
} 

.toggle-btn {
  color: white;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.toggle-btn:hover {
  background-color: #a6d6ee;
  border-radius: 100px;
  padding-bottom: 10px;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-content h1 {
  text-align: left;
  margin: 5px 0;
  white-space: nowrap;
  font-size: 1.7rem;  /* Scalable font size */
  margin-bottom: 2px; 
}

.sidebar-content ul {
  list-style-type: none;
  padding: 5px;
}

.sidebar-content li {
  margin: 15px 0;
  text-align: left; 
  font-size: 1rem;  /* Scalable font size */
  font-weight: bold;
}

.sidebar-content li span {
  padding-left: 5px;
}

.sidebar-content li:hover {
  color: #555;
  cursor: pointer;
}

/* List style for the first list (list1) */
.list1 {
  list-style-image: url("https://img.icons8.com/ios-filled/50/combo-chart--v1.png");
  margin-bottom: 40px; /* Reduced margin for better responsiveness */
  margin-left: 30px;
  font-weight: bold;
}

/* List style for the second list (list2) */
.list2 {
  list-style-image: url("https://img.icons8.com/ios/50/event-accepted-tentatively.png");
  font-weight: bold;
}

/* sidebar style end */

.header {
  position: fixed;  
  top: 0;          
  left: 0;         
  width: 100%;  /* Full width for header */
  height: 100vh;   
  background: linear-gradient(to right, #38BBF0, #18506C);
  overflow-y: auto; 
  color: white;    /* Text color */
  padding: 20px;  /* Reduced padding */
}

/* NEWS */

body {
  display: flex;
  flex-direction: column;
}

.news-container {
  position: fixed;
  left: 15vw;  /* Adjusted to accommodate sidebar */
  bottom: 0;  /* Pushes the container to the bottom of the screen */
  display: flex;  /* Use flex for positioning the content */
  flex-direction: column;
  padding: 20px;
  gap: 30px;
  
}
  

.news-box {
  padding: 20px; /* Reduced padding for responsiveness */
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column; /* Ensure children are stacked vertically */
  align-items: flex-start; /* Keep the items aligned to the left */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add subtle shadow for depth */
  background-color: #ffffff; /* Ensure background color is white */
}

.news-header h1 {
  font-size: 2rem; /* Adjusted font size */
  margin: 0 0 10px 0; /* Space below header */
  color: black;
}

.news-summary p {
  font-size: 1.2rem; /* Adjusted font size for summary */
  color: #555;
  margin: 0; /* Remove default margin for a cleaner look */
}